.iPhone {
  background: #000000;
  border: solid 2px #c5c5c5;
  height: 500px;
  width: 260px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  margin-top: 10vh;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.25);
  -webkit-transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.iPhoneInner {
  background: #000000;
  border: solid 2px #b4b4b4;
  height: 496px;
  width: 256px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.75);
  -webkit-transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.iPhoneInner .circButton {
  background: #000000;
  border: solid 2px #3b3b3b;
  width: 36px;
  height: 36px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  top: 48px;
  cursor: pointer;
}
.iPhoneInner .smallTopCirc {
  background-color: #000000;
  background-image: -webkit-linear-gradient(#1f1f1f, #141414);
  background-image: linear-gradient(#1f1f1f, #141414);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 6px;
  position: relative;
  margin: 0 auto;
}
.iPhoneInner .camera {
  background-color: #000000;
  background-image: -webkit-linear-gradient(#1f1f1f, #141414);
  background-image: linear-gradient(#1f1f1f, #141414);
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px #c5c5c5;
  top: 17px;
  left: 85px;
}
.iPhoneInner .oval {
  background-color: #000000;
  background-image: -webkit-linear-gradient(#1f1f1f, #141414);
  background-image: linear-gradient(#1f1f1f, #141414);
  width: 50px;
  height: 4px;
  top: 14px;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: -12px;
  position: relative;
}

.iScreen {
  position: relative;
  width: 230px;
  height: 400px;
  margin: 0 auto;
  top: 40px;
  overflow: hidden;
  background-color: #ffffff;
  border: solid 2px #3b3b3b;
  -webkit-transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.noShad {
  box-shadow: none;
}

#contact-screen {
  width: 100%;
  height: 100%;
  z-index: 999;
  color: #000000;
  border: none;
}

#contact-instructions {
  display: inline-block;
  margin-left: 5vw;
  margin-top: 10vh;
  width: 60%;
}

#contact-instructions a {
  color: #ffffff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#contact-instructions a:hover {
  color: #007aff;
}

#icons {
  margin-top: 5vh;
}

#iPhone-emulator {
  display: inline-block;
  float: right;
  margin-right: 10vw;
}
