@font-face {
	font-family: bronx-bystreets;
	src: url('../misc/bronx-bystreets.ttf');
}

@font-face {
	font-family: throwupz;
	src: url('../misc/throwupz.ttf');
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: menlo;
	background-image: url('../img/venezia.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
.section-break {
	margin-bottom: 15vh;
}

#my-nav {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-bottom: 0;
	background-color: rgba(34, 34, 34, 0.25);
	border: 1px solid black;
}

#name {
	font-family: throwupz;
	font-size: 4em;
}

#name:hover {
	text-decoration: none;
}

#splash {
	min-height: 90vh;
}

#construction {
	background-image: url('../img/construction.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

#temp {
	font-family: bronx-bystreets;
	font-size: 3.5em;
	margin-top: 20vh;
	color: #ffffff;
	
}

#music-player {
	margin-bottom: 1vh;
}

#about {
	color: #ffffff;
}

#contact {
	color: #ffffff;
	background-color: rgba(34, 34, 34, 1);
}

#contact-form {
	background-color: rgba(34, 34, 34, 0.25);
}

.form-item {
	margin-bottom: 12px;
}

#thank-you {
	text-align: left;
	display: none;
}

footer {
	line-height: 10vh;
	padding-top: 5px;
	background-color: rgb(34, 34, 34);
	border: 1px solid #1f1f1f;
	box-sizing: border-box;
	clear: both;
}

footer a {
	margin: auto;
}

footer a:hover {
	text-decoration: none;
}