@font-face {
	font-family: raleway;
	src: url('../misc/Raleway-Regular.ttf');
}

body {
	background-image: url('../img/table.jpg');
	background-repeat: repeat-y;
	background-position: top;
	background-size: cover;
	font-family: raleway;
	color: #ffffff;
}

h1 {
	font-size: 3em;
}

a {
	text-decoration: none;
	color: #b70b6f;
}

.my-navbar-items {
	list-style: none;
}

#exit {
	position: fixed;
	left: 95vw;
	top: 5vh;
	max-width: 2vw;
	max-height: 2vw;
	overflow: hidden;
}

#exit img {
	width: 100%;
	height: 100%;
}

#instructions {
	position: absolute;
	left: 12vw;
	top: 23vh;
	max-width: 12vw;
	max-height: 12vw;
	overflow: hidden;
	margin: auto;
	z-index: 99;
	-webkit-transform: scale(1) rotate(-15deg);
	-ms-transform: scale(1) rotate(-15deg);
	-moz-transform: scale(1) rotate(-15deg);
	-o-transform: scale(1) rotate(-15deg);
    transform: scale(1) rotate(-15deg);
}

#instructions img {
	width: 100%;
	height: 100%;
}

#notebook {
	position: absolute;
	left: 7vw;
	top: 8vh;
	max-width: 30vw;
	max-height: 30vw;
	overflow: hidden;
	margin: auto;
	transition-duration: 0.2s;
	-webkit-transform: scale(1) rotate(-25deg);
	-ms-transform: scale(1) rotate(-25deg);
	-moz-transform: scale(1) rotate(-25deg);
	-o-transform: scale(1) rotate(-25deg);
    transform: scale(1) rotate(-25deg);
}

#notebook img {
	width: 100%;
	height: 100%;
}

#notebook:hover {
	transition-duration: 0.2s;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
    transform: scale(1.2);
}

#macbook {
	position: absolute;
	left: 30vw;
	top: 10vh;
	max-width: 40vw;
	max-height: 32vw;
	overflow: hidden;
	margin: auto;
	transition-duration: 0.2s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
    transform: scale(1);
}

#macbook:hover {
	transition-duration: 0.2s;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
    transform: scale(1.2);
}

#macbook img {
	width: 100%;
	height: 100%;
}

#headphones {
	position: absolute;
	left: 70vw;
	top: 10vh;
	max-width: 15vw;
	max-height: 20vw;
	overflow: hidden;
    transition-duration: 0.2s;
	-webkit-transform: scale(1) rotate(30deg);
	-ms-transform: scale(1) rotate(30deg);
	-moz-transform: scale(1) rotate(30deg);
	-o-transform: scale(1) rotate(30deg);
    transform: scale(1) rotate(30deg);
}

#headphones:hover {
	transition-duration: 0.2s;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
    transform: scale(1.2);
}

#headphones img {
	width: 100%;
	height: 100%;
}

#phone {
	position: absolute;
	left: 60vw;
	top: 72vh;
	max-width: 12vw;
	max-height: 18vw;
	overflow: hidden;
	transition-duration: 0.2s;
	-webkit-transform: scale(1) rotate(30deg);
	-ms-transform: scale(1) rotate(30deg);
	-moz-transform: scale(1) rotate(30deg);
	-o-transform: scale(1) rotate(30deg);
    transform: scale(1) rotate(30deg);
}

#phone:hover {
	transition-duration: 0.2s;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
    transform: scale(1.2);
}

#phone img {
	width: 100%;
	height: 100%;
}

#coffee {
	position: absolute;
	left: 10vw;
	top: 65vh;
	max-width: 15vw;
	max-height: 15vw;
	overflow: hidden;
	transition-duration: 0.2s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
    transform: scale(1);
}

#coffee:hover {
	transition-duration: 0.2s;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
    transform: scale(1.2);
}

#coffee img {
	width: 100%;
	height: 100%;
}

#photo {
	position: absolute;
	left: 75vw;
	top: 50vh;
	max-width: 10vw;
	max-height: 14vw;
	overflow: hidden;
	transition-duration: 0.2s;
	-webkit-transform: scale(1) rotate(20deg);
	-ms-transform: scale(1) rotate(20deg);
	-moz-transform: scale(1) rotate(20deg);
	-o-transform: scale(1) rotate(20deg);
    transform: scale(1) rotate(20deg);	
}

#photo:hover {
	transition-duration: 0.2s;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
    transform: scale(1.2);
}

#photo img {
	width: 100%;
	height: 100%;
}

#layover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 999;
	background-repeat: repeat-y;
}

#headphones-text-body {
	margin-left: 10vw;
	margin-top: 10vh;
	display: inline-block;
}

#coffee-text-body {
	margin-left: 5vw;
	margin-top: 10vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

#project-list {
	margin-top: 2vh;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}

#search {
	margin-left: 25vw;
	margin-top: 15vh;
	width: 50vw;
	height: 5vh;
	border: 5px solid #ffffff;
	border-radius: 5px;
	font-size: 1.5em;
}

.my-project {
	margin-left: 15vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
	width: 70vw;
	height: 20vh;
	overflow: hidden;
}

.image-display {
	width: 30%;
	height: 100%;
	float: left;
	display: inline;
}

.image-display img {
	width: 85%;
	height: 100%;
}

.text-display {
	width: 60%;
	height: 100%;
	float: left;
	display: inline;
}

.my-hr {
	margin-left: 15vw;
	margin-right: 15vw;
}

.ui-autocomplete {
	position: absolute;
	cursor: default;
	z-index:1000 !important;
}

#photo-main-text {

}

#photo-header {
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 20vh;
}
